:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }

*
{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    color: white;
    font-size: 25px;
    background-image: linear-gradient(to right, #2E55B5, #1A0044 );
    width: 100%;
    height: 75px;
    text-align: center;
}

.left-column {
    width: 325px;
}

.container-1 {
    border-bottom: solid #838383;
    margin-left: 50px;
}

.city-search-label {
    margin-top: 15px;
    font-weight: bold;
    margin-left: -12px;
}

.city-search-input {
    margin-top: 5px;
    width: 325px;
    height: 50px;
    margin-left: -12px;
    border-radius: 5px;
}

.btn {
    background-color: #4A8FE4;
    width: 325px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -12px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

.search {
    background: grey;
    margin-top: 5px;
    width: 325px;
    height: 50px;
    margin-left: -12px;
    border-radius: 5px;
    position: relative;
    left: 60px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

.data-display {
    background-color: #E6E0DF;
    position: relative;
    left: 400px;
    top: -505px;
    width: 1120px;
    height: 275px;
    border: 2px solid #000000;
}

.five-day {
    position: relative;
    left: 400px;
    top: -480px;
}

.five-day-cards-container {
    display: flex;
    margin: -15px;
}

.five-day-card {
    background-color: #253445;
    width: 185px;
    height: 265px;
    flex-direction: row;
    margin: 20px; 
}

.city {
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: -45px;
}

.info {
    font-size: 30px;
    margin-left: 20px;
}

.five-day-card {
    color: #ffffff;
    font-size: 20px;
}

.icon {
    width: 90px;
    height: 90px;
}

.card-icon {
    margin-bottom: -30px;
}



