:root {
    --primary: #ccdad1;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .3rem;
  }

*
{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.contents-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.header {
    color: white;
    font-size: 25px;
    background-image: linear-gradient(to right, #2E55B5, #1A0044 );
    width: 100%;
    height: 75px;
    text-align: center;
}

/*This css rule establishes the width of the menue on the left side of the screen*/
.left-column {
    width: 325px;
}

.container-1 {
    border-bottom: solid #838383;
    margin-left: 50px;
}

/*This css rule establishes the styles of the search label*/
.city-search-label {
    margin-top: 15px;
    font-weight: bold;
    margin-left: -12px;
}

/*This css rule establish the styles for the input feild where the user enters a city*/
.city-search-input {
    margin-top: 5px;
    width: 325px;
    height: 50px;
    margin-left: -12px;
    border-radius: 5px;
}

/*This css rule contains the styleing for the search button*/
.btn {
    background-color: #4A8FE4;
    width: 325px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: -12px;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
}

/*This css rule establishes the styles for the search history containers*/
.search {
    background: grey;
    margin-top: 5px;
    width: 325px;
    height: 50px;
    margin-left: -12px;
    border-radius: 5px;
    position: relative;
    left: 60px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
}

/*This css rule establishes the styles for the area that displays current weather data*/
.data-display {
    background-color: #E6E0DF;
    width: 80%;
    height: 60%;
    border: 2px solid #000000;
    margin-top: 25px;
    margin-left: 80px;
    margin-right: 10px;
}

.five-day{
    margin-left: 80px;
}

/*This css rule establishes the overall styles of the container that holds the 
five-day forecast as well as the h3 element that acts as it label*/
.five-day-forcast{
    margin-top: 10px;
}

/*This css rule establishes the overall positioning of the five-day forecast cards*/
.five-day-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    margin-right: 10px;
}

/*This css rule establishes the styles of the five-day forecast cards themselves*/
.five-day-card {
    background-color: #253445;
    width: 185px;
    height: 265px;
    flex-direction: row;
    margin: 20px; 
    color: #ffffff;
    font-size: 20px;
}

/*This css rule establishes the styles for the city, date, and 
icon that are at the top of the page*/
.city {
    font-size: 50px;
    margin-left: 20px;
    margin-bottom: -45px;
}

/*This css rule establishes the styles for the rest of the current weather data*/
.info {
    font-size: 30px;
    margin-left: 20px;
}

/*This css rule establishes the size of the weather icon displayed with the current data*/
.icon {
    width: 90px;
    height: 90px;
}

/*This css rule gives the margin on the icons that apear in the five-day forecast*/
.card-icon {
    margin-bottom: -30px;
}

@media only screen and (max-width: 1244px) {
    .data-display{
        height: 30%;
    }
}